.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hit {
  font-weight: bold;
}
.score_parent,
.start_stop {
  display: flex;
}
.score_parent .score_text {
  font-weight: bold;
  margin-left: 30px;
}
.start_stop .start {
  background: #1faced;
  padding: 5px;
  color: black;
  margin-right: 5px;
}
.circles_parent {
  display: grid;
  grid-template-columns: 20px 20px 20px 20px 20px 20px;
  grid-gap: 10px;
  margin: 10px 50px 10px 50px;
}
.circles_parent .small_circle {
  border: 1px solid black;
  height: 20px;
  position: relative;
  cursor: pointer;
  width: 20px;
  border-radius: 30px;
}
.circles_parent .small_circle .inner_circle {
  position: absolute;
  background-color: black;
  height: 18px;
  width: 18px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
